# Assignment

## Importing Required Modules and reading csv's

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('salary.csv')
descrip_of_vars = pd.read_csv('Salary_metadata.csv',sep = ';')
print(data.shape)
print(data.head())
print(descrip_of_vars.shape)
print(descrip_of_vars.head(11))
print(descrip_of_vars['Explanation'].head(11))

(514, 11)
    salary  exprior  yearsworked  yearsrank  market  degree  otherqual  \
0  53000.0        0            0          0    1.17       1          0
1  58000.0        1            0          0    1.24       1          0
2  45500.0        0            0          0    1.21       1          0
3  35782.0        0            2          1    0.99       1          0
4  34731.0        0            2          2    0.91       1          0

   position  male  Field  yearsabs
0         1     1      3         0
1         1     1      2         0
2         1     1      3         2
3         1     1      4         1
4         1     1      4         1
(11, 3)
       Variable         Type  \
0        salary   Continuous
1       exprior   Continuous
2   yearsworked   Continuous
3     yearsrank   Continuous
4        market   Continuous
5        degree       Binary
6     otherqual       Binary
7      position  Categorical
8          male       Binary
9         Field  Categorical
10     yearsabs   Continuous

                                          Explanation
0                            Annual salary in dollars
1   Years of experience prior to working in this f...
2                          Years worked in this field
3                       Years worked at current rank
4   Market value (1 = salary at market value for p...
5                        Has degree (0 = no, 1 = yes)
6   Has other post-secondary qualification (0 = no...
7   Position (1 = Junior Employee, 2 = Manager, 3 ...
8                                     0 = no, 1 = yes
9   Field of work (1 = Engineering, 2 = Finance, 3...
10  Years absent from work (e.g. due to illness / ...
0                              Annual salary in dollars
1     Years of experience prior to working in this f...
2                            Years worked in this field
3                         Years worked at current rank
4     Market value (1 = salary at market value for p...
5                          Has degree (0 = no, 1 = yes)
6     Has other post-secondary qualification (0 = no...
7     Position (1 = Junior Employee, 2 = Manager, 3 ...
8                                       0 = no, 1 = yes
9     Field of work (1 = Engineering, 2 = Finance, 3...
10    Years absent from work (e.g. due to illness / ...
Name: Explanation, dtype: object

## 1.How many responders are there? Are there any missing values in any of the variables?

In [7]:
print(data.shape) #we have 514 rows
print(data.isnull().values.any())
print(data.isna().values.any())

data.info()
data.describe()
# we 

#cleaning data

#1-
#2-
#3-
#4-
#5-
#6-
#7-
#8-
#9-

(514, 11)
True
True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 11 columns):
salary         513 non-null float64
exprior        514 non-null int64
yearsworked    514 non-null int64
yearsrank      514 non-null int64
market         514 non-null float64
degree         514 non-null int64
otherqual      514 non-null int64
position       514 non-null int64
male           514 non-null int64
Field          514 non-null int64
yearsabs       514 non-null int64
dtypes: float64(2), int64(9)
memory usage: 44.2 KB

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
count,513.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000
mean,50863.220098,2.926070,12.852140,7.052529,0.948521,0.964981,0.044747,2.132296,0.750973,2.529183,6.982490
std,12685.132358,4.791397,9.444695,6.414771,0.149380,0.184008,0.206950,0.820075,0.432871,1.127420,16.873156
min,29000.000000,0.000000,0.000000,0.000000,0.710000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,40000.000000,0.000000,4.000000,2.000000,0.840000,1.000000,0.000000,1.000000,1.000000,2.000000,0.000000
50%,50096.000000,0.500000,12.000000,5.000000,0.920000,1.000000,0.000000,2.000000,1.000000,3.000000,1.000000
75%,60345.000000,4.000000,22.000000,12.000000,1.020000,1.000000,0.000000,3.000000,1.000000,4.000000,2.000000
max,96156.000000,25.000000,41.000000,28.000000,1.330000,1.000000,1.000000,3.000000,1.000000,4.000000,118.000000

## 2.What is the lowest salary and highest salary in the group?

In [2]:
minimum = data['salary'].min()
maximum = data['salary'].max()

print(f"{minimum} is the minimum and {maximum} is the maximum")

29000.0 is the minimum and 96156.0 is the maximum

## 3.What is the mean salary for the sample? Include the standard error of the mean.

In [4]:
mean = data['salary'].mean()
print(f"{mean} is the mean")

50863.22009783625 is the mean

## 4.What is the standard deviation for the years worked?

In [5]:
standard_dev = data['yearsworked'].std()
print(f"{standard_dev} is the standard deviation")

9.444695144169803 is the standard deviation

## 5.What is the median salary for the sample?

In [9]:
median = data['salary'].median()
print(f"{median} is the median")

50096.0 is the median

## 6.What is the interquartile range for salary in the sample?

In [11]:
Q1 = data.quartiles[0]

AttributeError: 'DataFrame' object has no attribute 'quartiles'

## 7.How many men are there in the sample? How many women are there in the sample? Present this information in a table.

In [23]:
males = data['male'] == 1
data[males].count()
print(str(len(data[males]))+' are males')

386 are males

## 8.How many women are executives compared to men?

In [39]:
executives =  data[data['position']== 3]
print(type(executives))
executives['male'].value_counts()

<class 'pandas.core.frame.DataFrame'>

1    192
0     19
Name: male, dtype: int64

## 9.Create a histogram for the variable Salary.

## 10.Examine the histogram and describe the distribution for Salary.

## 11.Create a bar graph to show the different average salaries of men and women. (Bonus: Add error bars to the bars showing the 95% confidence interval). What does the graph tell you about the difference between men and women’s salaries?

## 12.Create a scatterplot with seaborn showing the relationship between Years Worked and Salary (don’t forget to insert a trend line).What is the relationship between Years Worked and Salary?Describe any patterns in the scatterplot.Do you notice any unusual/extreme values that do not fit the general trend? If you see any unusual values, briefly describe them (Who are they? In what way are they different?)

## 13. Using the pearsonr function from the scipy.stats package, calculate the Pearson correlation coefficient (and its corresponding p value) to determine the nature of the relationship between Years Worked and Salary. See help(pearsonr) for help on this function.Interpret the size and direction of the correlation statistic.Is the relationship statistically significant? Report the appropriate statistic(s) to support your answer.